streamlit==1.44.1
pdfminer.six==20221105
nltk==3.8.1
pyresparser==1.0.6
spacy==3.7.2
pandas
numpy==2.0.2
thinc==8.2.5
pafy
plotly
streamlit-tags
Pillow
youtube-dl
python-dotenv
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl