streamlit==1.44.1
nltk==3.8.1
pyresparser
pdfminer.six
spacy==3.7.2
pandas
thinc==8.2.5
pafy
plotly
streamlit-tags
Pillow
youtube-dl
python-dotenv
numpy>=1.23,<2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl